name: Build Cordova APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Install Cordova
      run: npm install -g cordova

    - name: Create Cordova Project
      run: |
        cordova create app com.funtarget.app FunTarget
        cp -r www/* app/www/
        cp config.xml app/config.xml

    - name: Go to App
      run: cd app

    - name: Add Android Platform
      run: |
        cd app
        cordova platform add android

    - name: Build APK
      run: |
        cd app
        cordova build android

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: FunTarget-APK
        path: app/platforms/android/app/build/outputs/apk/debug/*.apk
