name: Build Cordova APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Cordova
        run: npm install -g cordova

      - name: Unzip project
        run: |
          unzip "FunTargetFinalClean.zip" -d cordova_project

      - name: Install project dependencies
        run: |
          cd cordova_project
          npm install

      - name: Add Android platform
        run: |
          cd cordova_project
          cordova platform add android

      - name: Build APK (Release)
        run: |
          cd cordova_project
          cordova build android --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: FunTarget-APK
          path: cordova_project/platforms/android/app/build/outputs/apk/release/*.apk
